html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  text-replace: optimizeLegibility; }

/* OH USELESS BOOTSTRAP */
dl {
  margin-bottom: 0; }

/* MAIN STYLES */
.heading {
  font-size: 4em;
  text-align: center;
  text-transform: uppercase; }

/* HEADER BLOCK */
.header {
  text-align: center;
  font-size: 2em;
  color: #fff;
  position: relative;
  z-index: 10;
  overflow: hidden; }

.header:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 103%;
  height: 103%;
  top: -1%;
  left: -1%;
  background: url(../img/html-code.jpg) no-repeat center bottom;
  background-size: cover;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px); }

.header__name {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold; }

/* HEADER ROTATING CHARS */
.headline {
  font-size: 3rem;
  line-height: 1.2; }

.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center; }

.words-wrapper b {
  display: block;
  width: 100%;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.words-wrapper b.is-visible {
  position: relative; }

.no-js .words-wrapper b {
  opacity: 0; }

.no-js .words-wrapper b.is-visible {
  opacity: 1; }

/* --------------------------------

xrotate

-------------------------------- */
.headline.rotate .words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px; }

.headline.rotate i, .headline.rotate em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-style: normal; }

.headline.rotate b {
  opacity: 0; }

.headline.rotate i {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-20px) rotateX(90deg);
  -moz-transform: translateZ(-20px) rotateX(90deg);
  -ms-transform: translateZ(-20px) rotateX(90deg);
  -o-transform: translateZ(-20px) rotateX(90deg);
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0; }

.is-visible .headline.rotate i {
  opacity: 1; }

.headline.rotate i.in {
  -webkit-animation: rotate-in 0.4s forwards;
  -moz-animation: rotate-in 0.4s forwards;
  animation: rotate-in 0.4s forwards; }

.headline.rotate i.out {
  -webkit-animation: rotate-out 0.4s forwards;
  -moz-animation: rotate-out 0.4s forwards;
  animation: rotate-out 0.4s forwards; }

.headline.rotate em {
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px); }

.no-csstransitions .headline.rotate i {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 0; }

.no-csstransitions .headline.rotate i em {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.no-csstransitions .headline.rotate .is-visible i {
  opacity: 1; }

@-webkit-keyframes rotate-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg); } }

@-moz-keyframes rotate-in {
  0% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(0deg); } }

@keyframes rotate-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    -moz-transform: translateZ(-20px) rotateX(-10deg);
    -ms-transform: translateZ(-20px) rotateX(-10deg);
    -o-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
    -moz-transform: translateZ(-20px) rotateX(0deg);
    -ms-transform: translateZ(-20px) rotateX(0deg);
    -o-transform: translateZ(-20px) rotateX(0deg);
    transform: translateZ(-20px) rotateX(0deg); } }

@-webkit-keyframes rotate-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg); } }

@-moz-keyframes rotate-out {
  0% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(-90deg); } }

@keyframes rotate-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
    -moz-transform: translateZ(-20px) rotateX(0);
    -ms-transform: translateZ(-20px) rotateX(0);
    -o-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
    -moz-transform: translateZ(-20px) rotateX(-100deg);
    -ms-transform: translateZ(-20px) rotateX(-100deg);
    -o-transform: translateZ(-20px) rotateX(-100deg);
    transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
    -moz-transform: translateZ(-20px) rotateX(-90deg);
    -ms-transform: translateZ(-20px) rotateX(-90deg);
    -o-transform: translateZ(-20px) rotateX(-90deg);
    transform: translateZ(-20px) rotateX(-90deg); } }

/* ABOUT ME */
/* ABOUT ME - CARD */
.about__card {
  background: #ddd; }

.card__info {
  padding: 1.2em; }

.card__me {
  -webkit-clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden; }

.card__me img {
  position: relative;
  left: 0;
  max-width: 110%;
  width: 110%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.about__card:hover .card__me img {
  left: -10%; }

.about__card:hover .card__me {
  -webkit-clip-path: polygon(25% 0, 75% 0%, 100% 33.3%, 50% 100%, 0 33.3%);
  clip-path: polygon(25% 0, 75% 0%, 100% 33.3%, 50% 100%, 0 33.3%); }

.card__info dt {
  font-size: 2em;
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
  margin: .1em 0; }

.card__info dd {
  font-size: 1.2em;
  display: inline-block;
  width: 80%;
  margin-left: -4px;
  vertical-align: middle;
  line-height: 1; }

.card__info dd .ua-flag {
  display: inline-block;
  width: 24px;
  margin-left: 12px; }

.card__info dd .stripe {
  width: 24px;
  height: 8px; }

.card__info dd .stripe.blue {
  background: #0057b8; }

.card__info dd .stripe.yellow {
  background: #ffd500; }

/* I'M GOOD AT */
/* NOW */
.chart {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 40px auto;
  text-align: center; }

.percent {
  display: inline-block;
  margin: auto;
  line-height: 140px;
  z-index: 2;
  font-size: 25px;
  font-weight: 500;
  text-align: center; }

.percent:after {
  content: '%'; }

.chart canvas {
  position: absolute;
  top: 0;
  left: 0; }

/* TOOLTIP */
.tooltip-wrap {
  position: relative;
  z-index: 999;
  cursor: pointer; }

.tooltip-content {
  position: absolute;
  background: url(../img/shape1.svg) no-repeat center bottom;
  background-size: 100% 100%;
  z-index: 9999;
  width: 200px;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  padding: 30px 30px;
  text-align: center;
  color: #fff;
  opacity: 0;
  font-size: 1em;
  line-height: 1.4;
  pointer-events: none;
  -webkit-transform: scale3d(0.1, 0.2, 1);
  transform: scale3d(0.1, 0.2, 1);
  -webkit-transform-origin: 50% 120%;
  transform-origin: 50% 120%;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
  transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1); }

.tooltip-content a {
  text-decoration: none;
  color: #fff; }

.tooltip-wrap:hover .tooltip-content {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* Arrow */
.tooltip-content::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  top: 100%;
  background: #00AEEF;
  -webkit-transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg); }

/* EXPERIENCE */
.experience {
  background: #999; }

/* HIRE ME */
.hire {
  background: #00b3ee; }

.head-wrap {
  height: 450px;
  width: 600px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff; }

.head-rotate {
  position: relative; }

/* GET IN TOUCH */
.form-group {
  position: relative; }

.form-group input {
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  padding-top: 20px; }

.form-group textarea {
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  padding-top: 20px; }

.form-group label {
  position: absolute;
  top: 16px;
  left: 15px;
  color: #000;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  cursor: text; }

.form-group.active input {
  padding-left: 15px; }

.form-group.active label {
  top: 2px;
  font-size: 11px;
  opacity: .7; }

.form-group.active label em {
  display: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* GOOGLE MAP */
.map-wrap {
  height: 100%;
  padding: 0; }

.map-canvas {
  height: 100%; }

/* ICOMOON FONT */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3kgy8j");
  src: url("fonts/icomoon.eot?3kgy8j#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?3kgy8j") format("truetype"), url("fonts/icomoon.woff?3kgy8j") format("woff"), url("fonts/icomoon.svg?3kgy8j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-graduate:before {
  content: "\e907"; }

.icon-house:before {
  content: "\e908"; }

.icon-code:before {
  content: "\e909"; }

.icon-smartphone:before {
  content: "\e903"; }

.icon-birthday:before {
  content: "\e900"; }

.icon-person:before {
  content: "\e901"; }

.icon-user:before {
  content: "\e902"; }

.icon-mail:before {
  content: "\e904"; }

.icon-location:before {
  content: "\e905"; }

.icon-globe:before {
  content: "\e906"; }
